<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css"
    />
    <title>JPMC News</title>
  </head>
  <body>
    <header>
      <div class="logo-buscador-card">
        <img id="logo" src="/jpm-logo.png" alt="Mercado Liebre logo" />
        <input
          type="text"
          placeholder="Search any article..."
          class="buscador box"
        />
        <!-- <button type="submit" id="boton-buscador">
          <i class="fa fa-search search"></i>
        </button> -->
      </div>
      <div id="subtitulo-card">
        <i class="fas fa-university iconos-nav"></i>
        <p><strong>The #1 bank of the United States</strong></p>
        <i class="fas fa-university iconos-nav"></i>
      </div>
      <br />
      <div class="menu">
        <a class="active" href="#home">Home</a>
        <a href="#news">Latest news</a>
        <a href="#contact">Contact us</a>
        <div class="opciones-card">
          <a href="#login">Log in <i class="fas fa-user-circle"></i></a>
        </div>
      </div>
      <br />
    </header>
    <main>
      <h3 class="titulo-body">Crypto Market</h3>
      <section class="mercado-crypto">
        <article class="cripto-grid">
          <div
            id="myGrid"
            style="height: 219px; width: 603px"
            class="ag-theme-alpine"
          ></div>

          <script type="text/javascript" charset="utf-8">
            // specify the columns
            const columnDefs = [
              { field: "currency", filter: "agTextColumnFilter" },
              { field: "price", filter: "agNumberColumnFilter" },
              {
                field: "price_date",
                headerName: "Last refresh",
              },
            ];

            // let the grid know which columns to use
            const gridOptions = {
              columnDefs: columnDefs,
            };

            // lookup the container we want the Grid to use
            const eGridDiv = document.querySelector("#myGrid");

            // create the grid passing in the div to use together with the columns & data we want to use
            new agGrid.Grid(eGridDiv, gridOptions);

            // fetch the row data to use and one ready provide it to the Grid via the Grid API
            agGrid
              .simpleHttpRequest({
                url: "https://api.nomics.com/v1/currencies/ticker?key=97ea8bc7771311667b472b9cefdb3bbbeaf81385&ids=BTC,ETH,SOL,ICP",
              })
              .then((data) => {
                gridOptions.api.setRowData(data);
              });
          </script>
        </article>
      </section>
      <h3 class="titulo-body">In case you missed it</h3>
      <section class="ultimas-visitas">
        <article class="productos box">
          <img
            width="300"
            height="240"
            src="/img-tech.jpg"
            alt="Economy tech photo"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="descripciones">World economy is changing</p>
          </div>
          <!-- <strong>Cafetera Moulinex</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="300"
            height="240"
            src="/img-fortnite.jpg"
            alt="Apple vs. Fortnite"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="descripciones">Apple vs. Epic: What's next?</p>
          </div>
          <!-- <strong>MacBook Pro 2019</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="300"
            height="240"
            src="/img-iphone.jpg"
            alt="iPhone photo"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="descripciones">New iPhone: What to expect</p>
          </div>
          <!-- <strong>Samsung Galaxy S10</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img width="300" height="240" src="/img-uala.jpg" alt="Uala" />
          <hr />
          <div class="precio-dcto-card">
            <p class="descripciones">Uala becomes the new unicorn!</p>
          </div>
          <!-- <strong>SmartTv Samsung 43"</strong> -->
        </article>
      </section>
    </main>
    <br />
    <br />
    <div class="beneficios-padre">
    <section class="beneficios-card">
      <br />
      <div>
        <i class="fas fa-credit-card iconos-beneficios"></i>
        <h4>Save. Earn. Redeem.</h4>
        <p class="grids">
          By subscribing to our newslestter using a credit card, you're eligible
          to earn 1000 monthly JPMC Points, which you can later use to redeem
          awesome prices.
        </p>
      </div>
      <br />
      <div>
        <i class="fas fa-gift iconos-beneficios"></i>
        <h4>Free shipping for our yearly subscribers</h4>
        <p class="grids">
          If you're a year subscriber, we got you! You have free shipping for
          any of our magazines. You call it.
        </p>
      </div>
      <br />
      <div>
        <i class="fas fa-user-shield iconos-beneficios"></i>
        <h4>Safety first</h4>
        <p class="grids">
          Did you regret paying for your subscription? Don't worry! You can
          cancel for free up to 7 days after you pay. :)
        </p>
      </div>
      <br/>
    </div>
    </section>
  </body>
  <footer>
    <p id="copyright">
      Made with love and a lot of patience (c) 2018-2021 JPMC News
    </p>
  </footer>
</html>
